# Created by https://www.gitignore.io/api/batch,executable

### Batch ###
# BatchFiles
*.bat
*.cmd
*.btm
*.scss

### Executable ###
*.app
*.cgi
*.com
*.exe
*.gadget
*.jar
*.pif
*.vb
*.sass-cache
*.scssc
*.wsf
*.map
asu.html
cek.html

# End of https://www.gitignore.io/api/batch,executable